/*base settings*/
*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
}
img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  margin-left: 1rem;
}
:root{
  --light-gray: #FAFAFA;
  --medium-gray: #F2F2F2;
  --dark-gray: #666666;
  --yellow: #F3AA3C;
  --green: #387C43;
}

/*font*/
.underline{
  text-decoration: underline;
}
.txt-dashed{
  text-decoration: dashed;
}
.txt-center{
  text-align: center;
}
.txt-uppercase{
  text-transform: uppercase;
}
.txt-right{
  text-align: right;
}
@font-face {
  font-family: 'RobotoLight';
  src: url('./assets/Roboto-Light.ttf');
}
@font-face {
  font-family: 'RobotoReg';
  src: url('./assets/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoMed';
  src: url('./assets/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'RobotoBlack';
  src: url('./assets/Roboto-Black.ttf');
}
.txt-gray{
  color: #4e4e4e;
}
.txt-light-gray{
  color: #f2f2f2;
}
.txt-white{
  color: #fff;
}
.txt-light-12{
  font-family: 'RobotoLight';
  font-size: 0.75rem;
}
.txt-reg-10{
  font-family: 'RobotoReg';
  font-size: 0.625rem;
}
.txt-reg-12{
  font-family: 'RobotoReg';
  font-size: 0.75rem;
}
.txt-reg-14{
  font-family: 'RobotoReg';
  font-size: 0.875rem;
}
.txt-reg-16{
  font-family: 'RobotoReg';
  font-size: 1rem;
}
.txt-reg-18{
  font-family: 'RobotoReg';
  font-size: 1.125rem;
}
.txt-med-14{
  font-family: 'RobotoMed';
  font-size: 0.875rem;
}
.txt-med-16{
  font-family: 'RobotoMed';
  font-size: 1rem;
}
.txt-bold-14{
  font-family: 'RobotoBold';
  font-size: 0.875rem;
}
.txt-bold-16{
  font-family: 'RobotoBold';
  font-size: 1rem;
}
.txt-bold-18{
  font-family: 'RobotoBold';
  font-size: 1.125rem;
}
.txt-bold-24{
  font-family: 'RobotoBold';
  font-size: 1.5rem;
}
.txt-bold-40{
  font-family: 'RobotoBold';
  font-size: 2.5rem;
}
.txt-black-24{
  font-family: 'RobotoBold';
  font-size: 1.5rem;
}

/*margins*/
.margin-sides{
  margin-left: 5%;
  margin-right: 5%;
}
.margin-top-1{
  margin-top: 1rem;
}
.margin-top-2{
  margin-top: 2rem;
}
.margin-bottom-2{
  margin-bottom: 2rem;
}
.margin-bottom-5{
  margin-bottom: 5rem;
}

/*flex*/
.flex-row{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.self-center{
  align-self: center;
}
.gap-0{
  gap: 0;
  }
.gap-05{
gap: 0.5rem;
}
.gap-2{
  gap:2rem;
}
.gap-3{
  gap:3rem;
}

/*slider*/
.slider{
  position: relative;
}
.slider-header{
  width: 120%;
}
.owl-nav{
  position: absolute;
  top: -6rem;
  right: 2rem;
  display: flex;
  gap: 2rem;
}
.owl-prev i::before, .owl-next i::before{
  font-size: 30px;
  font-weight: 1000;
}


/*buttons*/
.yellow-bg{
  background-color: var(--yellow);
}
.green-bg{
  background-color: var(--green);
}
.btn{
  width: max-content;
  display: block;
  color: white;
  box-sizing: border-box;
  padding: 0.75rem 1.25rem;
  border-radius: .125rem;
  text-transform: uppercase;
}

#logo{
  max-width: 158px;
  height: auto;
}

/*header*/
header hr{
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.header-icon{
  max-width: 12px;
  height: auto;
}
.search-bar{
  background: #fff;
  outline: none;
  border: 0.0625rem solid #B7B7B7;
  border-radius: 0.25rem;
  height: inherit;
  width: 550px;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 2rem;
  color: #000;
}
.search-bar::placeholder{
  color: #000;
}
.search-bar-wrap{
  position: relative;
}
.search-bar-wrap img{
  position: absolute;
  top: 25%;
  left: 10px;
  max-width: 16px;
  max-height: 16px;
}
.logo-txt{
  max-width: 200px;
}
.header-shopcart{
  position: relative;
}
.header-shopcart p{
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: var(--green);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  /* padding: 1rem; */
  border-radius: 50%;
}


/*banner*/
.main-banner{
  position: relative;
}
.overlay{
  width: 100%;
  height: auto;
}
.overlay::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.main-banner-text{
  position: absolute;
  color: white;
  top: 0;

  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.main-banner-text .flex-col{
  gap: 2rem;
}
.main-banner-text .txt-reg-16{
  max-width: 18.75rem;
  line-height: 160%;
}
.banner-list{
  gap: 0.75rem !important;
}
.banner-list hr{
  border-color: var(--yellow);
  border-width: 0.125rem;
}

/*catalog*/
.catalog{
  justify-content: space-between;
  align-items: flex-start;
}
.catalog-card{
  position: relative;
  box-shadow: 0.3rem 0.625rem 1.875rem rgba(0,0,0,0.15);
  box-sizing: border-box;
  padding: 2rem;
  max-width: 16rem;
  max-height: 18.5rem;
  gap: 2rem;
}
.catalog-card.opened{
  max-height: 23rem;
}
.catalog-card .title{
  max-width: 151px;
}
.catalog-card img{
  position: absolute;
  overflow: hidden;
  max-width: 5rem;
  max-height: 5rem;
  top: 0;
  right: 0;
}
.catalog-card .view-all{
  justify-self:end;
  cursor: pointer;
}

/*popular*/
.popular-card{
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.125rem;
  width: 16rem;
  height: 16rem;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
}
.popular-card p{
  max-width: 120px;
}

.special-card{
  position: relative;
  width: 358px;
  height: 243px;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: 0.3125rem 0.625rem 2.5rem rgba(0,0,0,0.10);
  overflow: hidden;
}
.special-card img{
  position: absolute;
  right: -45%;
  top: 0;
  height: inherit;
  width: auto;
}
.special-card .title{
  max-width: 190px;
}

/*text and photo*/
.txtimg-wrap{
  /* width: 350px; */
}

/*services*/
.services-wrap{
  flex-wrap: wrap;
  min-width: 500px;
}
.services-nav-item{
  width: 290px;
  box-sizing: border-box;
  padding: 1rem;
  /* border: 1px solid; */
  cursor: pointer;
}
.services-nav-item img{
  max-width: 52px;
  max-height: 52px;
  /* align-items: center;  */
}
.services-nav-item:hover, .services-nav-item.active{
  box-shadow: 0.3125rem 0.625rem 2.5rem rgba(0,0,0,0.10);
}

/*client*/
.owl-stage{
  display: flex;
  align-items:center;
}
.client-card{
  max-width: 210px;
  height: auto;
}

.main-reasons-wrap{
background: var(--light-gray);
padding-top: 4rem;
padding-bottom: 4rem;
}
.main-reasons{ 
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.reason-card{
  box-sizing: border-box;
  padding: 2rem;
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.25rem;
  max-width: 256px;
  max-height: 121px;
}
.reason-card img{
  max-width: 30px;
  max-height: 30px;
}

.news-card{
  max-width: 256px;
}

.popular-section{
  background: var(--light-gray);
  box-sizing: border-box;
padding-top: 3rem;
padding-bottom: 3rem;
}
.popular-section section{
margin-bottom: 0;
}

.footer-top{
background: var(--medium-gray);
max-height: 310px;
box-sizing: border-box;
padding-top: 2rem;
padding-bottom: 2rem;
}
.footer-bottom{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--dark-gray);
  max-height: 90px;
}
.fb-logo{
  margin-left: 2rem;
}
.footer-logo{
  max-width: 200px;
  height: inherit;
}
.footer-icon{
  max-width: 18px;
  height: auto;
}
.footer-top-content{
  height: 100%;
  align-items: flex-start;
}

.footer-cat{
  max-height: 227px;
  flex-wrap: wrap;
}
.services-img{
  max-width: 570px;
  height: auto;
  align-self: flex-start;
}
.service-descr{
  max-width: 510px;
}
.service-list{
  max-width: 410px;
}
.delivery-text{
  max-width: 460px;
  align-self: flex-start;
}
.delivery-img{
  max-width: 665px;
  position: relative;
}
.delivery-img .img-text{
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.delivery-img .img-logo{
  max-width: 135px;
  height: auto;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}
.services-img{
  max-width: 550px;
}